<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro officia, nulla obcaecati, minima facilis voluptate, eveniet deleniti exercitationem debitis alias impedit. Tenetur, molestiae corrupti reprehenderit veritatis tempore assumenda consequatur!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro officia, nulla obcaecati, minima facilis voluptate, eveniet deleniti exercitationem debitis alias impedit. Tenetur, molestiae corrupti reprehenderit veritatis tempore assumenda consequatur!</p>

<%- include('./partials/footer.ejs') %>
<img src="/logo.jpg">