<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <div>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/about">About</a>&nbsp;|&nbsp;
        <a href="/services">Services</a>&nbsp;|&nbsp;
    </div>

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ducimus dolores exercitationem distinctio repudiandae vero repellat fugiat deleniti? Ea voluptas quis quae neque in similique veniam laborum cumque, iure placeat.</p>
</body>
</html>