<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>

    <div>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/about">About</a>&nbsp;|&nbsp;
        <a href="/services">Services</a>&nbsp;|&nbsp;
    </div>

    <h1>Services</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ea, facere omnis ex ipsam, tempora deserunt, repellendus maxime libero fugit excepturi consectetur cupiditate autem dolores illo esse inventore. Sunt, quaerat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed quia exercitationem cupiditate pariatur aliquid aut vitae soluta, tenetur laudantium fuga velit perspiciatis. Labore amet hic officiis, ratione tempora dolorum.</p>
</body>
</html>